<!-- wp:paragraph -->
<p>Timpul tau este intotdeauna valoros, asa ca ceea ce comanzi iti va fi livrat rapid, direct la usa.&nbsp;Toate produsele de pe site sunt disponibile in stocul propriu, nu exista produse livrate din stocul furnizorilor sau pentru care trebuie sa astepti. Iti livram comanda direct din showroom sau depozit, aflate in Bucuresti.<br><br></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Curier rapid</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Livrarea produselor se face prin companii de transport cunoscute, oriunde in Romania.<br><br></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Timp de livrare</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Comenzile plasate de luni pana vineri (cu exceptia zilelor libere legale) inainte de ora 15.00 vor pleca de la noi in aceeasi zi, iar cele plasate dupa ora 15.00 vor fi predate curierului in urmatoarea zi lucratoare. Comenzile plasate in weekend sau in zilele de sarbatoare vor fi procesate si predate curierului in prima zi lucratoare.<br></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Datorita situatiei la nivel national, incepand din 16 martie 2020, pot exista intarzieri la livrare independente de dorinta nostra. Va multumim pentru intelegere si rabdare!&nbsp;</strong><br><br></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Cost transport</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><br>Exista trei tipuri de taxe de transport in functie de marimea coletelor: </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>- 20 de lei pentru produsele obisnuite <br>- 40 de lei pentru produsele cu dimensiuni medii, ex: aparate de aer conditionat<br>- 75 de lei pentru produsele cu dimensiuni mari, ce necesita transport special, ex: frigidere.<br></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Status comanda</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Dupa ce ai inregistrat o comanda, poti urmari statusul acesteia in timp real din contul tau de client, in sectiunea&nbsp;Comenzile mele.<br><br></p>
<!-- /wp:paragraph -->
