<!-- wp:paragraph -->
<p><strong>Poti returna produsele de care nu esti multumit la fel de usor precum le-ai achizitionat.</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ai drept de retur timp de&nbsp;<strong>14 zile calendaristice</strong>, incepand cu ziua in care ti-a fost livrata comanda.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Costul returului</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>• Este&nbsp;<strong>gratuit</strong>&nbsp;pentru orice produs Heinner din categoriile<strong> Electrocasnice si climatizare </strong>situatie in care trimitem noi curierul sa ridice produsele.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>• Este&nbsp;<strong>suportat de client</strong>&nbsp;pentru produsele din&nbsp;<strong>celelalte categorii</strong>, iar clientul are dreptul de a alege orice companie de curierat.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>• Este&nbsp;<strong>gratuit</strong>&nbsp;in cazul in care produsul comandat prezinta defecte sau nu este conform cu specificatiile din site-ul heinner-constanta.ro.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Cum returnezi produsele</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Pasul 1</strong>: Trimite-ne un email la adresa&nbsp;<strong>{{ customer_support_email }}</strong>&nbsp;cu&nbsp;<strong>numarul comenzii tale</strong>&nbsp;si&nbsp;<strong>produsele</strong>&nbsp;pe care vrei sa le returnezi.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Pasul 2</strong>: In cel mai scurt timp posibil, vei fi contactat de unul dintre colegii nostri, care va prelua cererea ta si iti va oferi ajutorul necesar.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Pasul 3</strong>: Nu mai trebuie decat sa predai produsele curierului si sa astepti ca returul tau sa ajunga la noi. Poti folosi orice firma de curierat, insa este important sa te asiguri ca produsele returnate vor fi livrate direct in depozitul nostru, fara a fi nevoie sa le ridicam dintr-o alta locatie.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Contravaloarea produselor returnate</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In schimbul produselor returnate, poti alege&nbsp;<strong>sa primesti alte produse</strong>&nbsp;sau&nbsp;<strong>sa iti transferam contravaloarea</strong>&nbsp;acestora.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Iti vom returna banii in termen de&nbsp;<strong>14 zile</strong>&nbsp;din momentul in care produsele ajung la noi,<strong>&nbsp;in contul tau bancar</strong>, astfel:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>• Daca ai platit online, cu cardul, returnarea banilor se va face in contul din care a fost efectuata plata.<br>• Daca ai platit ramburs, la curier, returnarea banilor se va face intr-un cont indicat de tine.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>In ce conditii poti returna produsele achizitionate</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Poti solicita returnarea produselor cumparate timp de&nbsp;<strong>14 zile calendaristice</strong>, incepand cu ziua in care ti-a fost livrata comanda.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Produsele pe care le returnezi trebuie sa fie&nbsp;<strong>intr-o stare perfecta</strong>, asa cum le-ai primit,&nbsp;<strong>fara urme de uzura sau purtare, cu ambalajele, etichetele si documentele originale</strong>, primite la achizitie.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Nu se vor accepta pentru retur:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>• Produsele deteriorate de catre client.<br>• Produsele care sunt susceptibile a se deteriora sau a expira rapid;<br>• Produsele sigilate care nu pot fi returnate din motive de protectie a sanatatii sau din motive de igiena si pe care le-ai desigilat, in baza art. 16 din OUG 34/2014, punctul e). Exemplu de categorii de produse care nu pot fi returnate: termometre, aparate aerosoli, aspiratoare nazale, pompe de san, scutece si servetele, cadite, olite, lenjerie intima etc.<br>• Produsele care sunt, dupa livrare, potrivit naturii acestora, inseparabil amestecate cu alte elemente.<br>• Daca ai cumparat mai multe produse de acelasi fel si vrei sa le returnezi pe toate, asigura-te ca doar unul a fost desigilat. Returul celorlalte produse se accepta doar daca sunt sigilate.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In cazul in care comanda ta a fost insotita de produse cadou sau carduri cadou, este necesara si returnarea acestora.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="http://www.anpc.ro/" target="_blank" rel="noreferrer noopener">ANPC</a></p>
<!-- /wp:paragraph -->
